@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

body {
    background-color: aliceblue;
    font-family: sans-serif;
  }
  .main-card{
    display: flex;
    /*grid-template-columns: 33% 33% 33%;*/
    flex-wrap: wrap;
  }
  
  .card {
    background-color: black;
    border-radius: 3px;
    height: 350px;
    width: 220px;
    margin: 40px;
    box-shadow: 10px 10px 9px rgba(0 0, 0, 0.16), 0 12px 13px rgba(0 0, 0, 0.16);
  }
  
  .card:hover {
    transition: 0.3s;
    transform: scale(1.03);
  
  }
  
  .img {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border: 3px solid rgba(255, 255, 255, 0.963);
  }
  .name {
    padding-left: 15%;
    padding-right: 17%;
    color: aliceblue;
  }
  
  .title {
    margin-left: 3%;
    margin-right: 4%;
    color: gray;
    font-size: 14px;
  }
  .desc {
    margin: 4%;
    padding: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 14px;
    color: rgb(218, 216, 216);
  }
  .btn {
    outline: none;
    background-color: rgb(12, 152, 80);
    margin: 5% 27% 0%;
    margin-bottom: 5%;
    border: none;
    height: 35px;
    width: 45%;
    color: aliceblue;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
  }
  
  .btn:hover {
    color: rgb(12, 152, 80);
    background: aliceblue;
    transition: all 300ms linear;
    cursor: pointer;
  }