@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-attachment: fixed;
}



/* ----------- */

.container {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: -10%;
  margin-bottom: -30%;

}

.intro-area {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  color: #0a3881;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 5px;
  margin-top: 10%;
}
.intro-area p {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .container {
    margin-top: 50px;
    max-width: 720px;
    font-size: 30px;
  }
  .intro-area h2 {
    text-align: center;
    align-items: center;
    margin-top: 15%;
    font-size: 46px;
    margin-bottom: 5px;
  }

  .intro-area p {
    text-align: center;
    align-items: center;
  }
  .main-card {
    margin-top: 30%;
  }
  .card {
 margin-top: 10%;
}
}

/*------------- card -------*/
.main-card {
  display: flex;
  /*grid-template-columns: 33% 33% 33%;*/
  flex-wrap: wrap;
}

.card {
  background-color: black;
  border-radius: 3px;
  height: 350px;
  width: 220px;
  /* margin: 10px; */
  margin-left: 25px;
  margin-top: 20%;
  box-shadow: 10px 10px 9px rgba(0 0, 0, 0.16), 0 12px 13px rgba(0 0, 0, 0.16);
  z-index: 5;
}

.card:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.img {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  border: 3px solid rgba(255, 255, 255, 0.963);
}
.name {
  padding-left: 15%;
  padding-right: 17%;
  color: aliceblue;
}

.title {
  margin-left: 3%;
  margin-right: 4%;
  color: gray;
  font-size: 14px;
}
.desc {
  margin: 4%;
  padding: 3%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 14px;
  color: rgb(218, 216, 216);
}
.btn {
  outline: none;
  background-color: rgb(12, 152, 80);
  margin: 5% 27% 0%;
  margin-bottom: 5%;
  border: none;
  height: 35px;
  width: 45%;
  color: aliceblue;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
}

.btn:hover {
  color: rgb(12, 152, 80);
  background: aliceblue;
  transition: all 300ms linear;
  cursor: pointer;
}

/* footer */
.footer{
  margin-top: 50%;
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }