body {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 70px;
  margin-top: 10px;
  /* background-color: rgb(237, 247, 237); */
}
.logo {
  text-align: center;
  /* margin-top: -70px; */
}
.main input {
  background-color: rgb(255, 255, 255);
}
header {
  display: flex;
  justify-content: space-between;
}
header button {
  font-size: 25px;
  height: 50px;
  width: 130px;
  border: none;
  background-color: rgb(43, 159, 174);
  color: aliceblue;
  border-radius: 5px;
}
button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: 1s;
}
.title {
  color: rgb(0, 0, 0);
  margin-left: 200px;
}
.main {
  margin-top: 00px;
  margin-left: 00px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  text-align: center;
}
input {
  font-size: 20px;
  margin-top: 15px;
  padding: 5px;
}
.main ::placeholder {
  font-size: 40px;
}
.sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  top: 600px;
  position: fixed;
}
.footer button {
  width: 200px;
  background-color: rgb(43, 159, 174);
  color: white;
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 25px;
  border: none;
}
.footer button:hover {
  color: rgb(43, 159, 174);
  background-color: aliceblue;
  transition: 1s;
}
.add img {
  margin-left: 150px;
}
.btn {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  background-color: rgb(225, 62, 44);
  color: white;
  margin-top: 15px;
}
.btn-card {
  margin-top: 20px;
}
.detail,
.img {
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0, 0, 0);
}
.details {
  text-align: center;
  height: 300px;
}
.full-card {
    padding: 10px 20px 40px;
  background-color: rgb(216, 242, 250);
  width: 550px;
  text-align: center;
  border-radius: 10px;
  /* height: 550px; */
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(232, 232, 232);
}
.btn-card {
  display: flex;
  justify-content: space-evenly;
}
.description {
  width: 300px;
  height: 100px;
  overflow: hidden;
}
.output-btn {
  width: 300px;
  height: 40px;
  margin-top: 10px;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0, 0, 0);
}
.div_card-output {
  height: 440px;
  width: 400px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  float: right;
  border-radius: 10px;
}
/* media query*/
@media screen and (max-width: 600px) {
  body {
    width: 600px;
  }
  th {
    width: 60px;
    font-size: 20px;
  }
  td {
    width: 60px;
    font-size: 10px;
  }
  input {
    width: 90px;
    margin-left: 00px;
  }
  .title {
    font-size: 40px;
    width: 300px;
    margin-left: 10px;
    margin-top: 40px;
  }
  .footer {
    top: 90%;
  }
}
