@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  sans-serif;
  background-color: #faf9ff;
  padding: 0 10px;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: #393053;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0,0.125);
}

.wrapper .title{
  margin-bottom: 0px;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .input_field{
  margin-bottom: 10px;
  display: flex;
  align-items: center;

}

.wrapper .form .input_field label{
    width: 200px;
    color: #d7cafe;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  background-color: #d7cafe;
  padding: 8px 10px;
  transition: all 0.3s ease;
}

.wrapper .form .input_field .textarea{
  resize: none;
  height: 60px;
  
}
.wrapper .form .input_field .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .input_field .custom_select select{
  border: 1px solid #d5dbd9;
  appearance: none;
  background-color: #d7cafe;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  outline: none;
}

.wrapper .form .input_field .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus,
.wrapper .form .input_field select:focus{
  border: 1px solid #c271ff;
}

.wrapper .form .input_field p{
  font-size: 14px;
  color: #d7cafe;
}

.wrapper .form .input_field .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
}

.wrapper .form .input_field .btn{
  display: block;
  width: 40%;
  margin-left: 60%;
  padding: 8px 40px;
  font-size: 15px;
  border: 0;
  background: #ce8eff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.wrapper .form .input_field .btn:hover{
    background:#d7cafe;
    color: #ce8eff;
}

@media (max-width: 420px){
  .wrapper .form .input_field{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .input_field label{
    margin-bottom: 5px;

  }
  .wrapper .form .input_field .terms{
    flex-direction: row;
  }
}