@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
    background-color: #faf9ff;
    
}



.menu  {
  
    background-color: #393053;
    height: 80px;
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 4%; */
    padding-top: 50px;
    padding-left: 0px;
    box-shadow: 0px 1px 5px #393053;
    padding-bottom: 40px;
}
/* .menu .img-1 {
    display: flex;
} */

h1  {
    padding: 10px;
    margin-left: 10px;
    margin-top: -20px;
    color: #faf9ff;
    font-size: 38px;

}

h1 span   {
    color: #d7cafe;

}

.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0px 0px 0px;
    
}

.menu ul li {
    padding: 10px 10px;
    position: relative;
    
    
    

}

.menu ul li a {
  
    color: azure;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s;
    padding: 10px 10px 10px;
   

}

.menu ul li a:hover {
    /* background-color: rgba(135, 250, 223, 0.703); */

    padding: 10px 10px 10px;
    color: #d7cafe;
}

.menu ul li::before{
  content: '';
  background-color: aliceblue;
  width: 20px;
  padding-top: 100px;
}

.dropdown {
    display: none;
    color: black;
    box-shadow: 1px 1px 2px #c3b0fcec;
}

.menu ul li:hover .dropdown {
    display: block;
    position: absolute;
    top: 100%;
    width: 150px;
    padding: 5px 0px 5px;
    margin: 0px 0px 0px;
    border-style: double;
    background-color: #393053;
    border-radius: 3px;
}

.dropdown ul {
    display: block;
    margin-left: 8px;
    color: black;
    margin-bottom: 5px;
    margin-top: 0px;
    
}

.dropdown ul li a{
    width: 200px;
}

/*_____________________footer___________________________________________*/


.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
.footer-head{
  margin-top: 15px;

}
.footer {
    margin-top: 500px;
    background-color: #393053;
    padding: 5px 0px 0px;
  }
  
  .footer-colm {
    width: 20%;
    padding: 0px 20px 0px;
  }
  
  .footer-colm h4 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    padding-top: 40px;
  }
  
  .footer-colm h4::before {
    content: "";
    position: absolute;
    left: 0; 
    bottom: -10px;
    background-color: #e8e0ff;
    height: 2px;
    width: 40px;
  }
  
  .footer-colm ul li a {
    margin-bottom: 15px;
  }
  
  .footer-colm ul li a {
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #f0ecff;
    display: block;
    transition: 0.3s;
    width: 100px;
  }
  
  .footer-colm ul li a:hover {
    color: #bea8ff;
    padding-left: 5px;
    
  }
  
  .footer-colm .social-links a {
    display: inline-block;
    height: 40px;
    font-size:x-large;
    width: 40px;
    margin: 0px 5px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #393053;
    transition: 0.2s;
    background-color: #f0ecff;
  }
  
  .footer-colm .social-links a:hover {
    color: #f0ecff;

    background-color: #393053;
    box-shadow: 0.5px 0.5px 5px #f0ecff;
  }
  
