
.nav1 {
  text-decoration: none;
  display: flex;
  /* display: inline-block; */
  background: #808080;
  /* clear: both; */
  overflow: hidden;
  /* padding: 10px 10px; */
}
.nav1 li{
  display: inline;
  /* padding: 10px 0 10px; */
}
.nav1 li a {
  padding: 0.8em;
  color: #fff;
}






