@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
}
/* ---heading 1 start--- */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 1px 1px 15px #aeaeae45;
}
.header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6a64f1;
}
/* ---heading 1 end--- */

/* ---Search bar start--- */
.search {
  position: relative;
}

.search_input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 10px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  outline: none;
  opacity: 0.8;
}

.search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.search_input:focus {
  opacity: 1;
  width: 250px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

/* ---heading 2 Start--- */
.header-2 {
  display: flex;
  font-weight: 800;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0 3px 10px #a29cf034;
  background-color: #fff;
  position: relative;
}
/* ---span active--- */
.active {
  background-color: #6a64f1;
  padding: 7px 30px;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
}
.header-2 .navbar a {
  padding: 7px 30px;
  font-size: 15px;
  color: #000000;
  border-radius: 5px;
}

.header-2 .navbar a:hover {
  color: #fff;
  background-color: #6a64f1;
}
/* heading 2 icon */
.header-2 .icons a {
  font-size: 2.5rem;
  color: var(--black);
  padding-left: 1rem;
}

.header-2 .icons a:hover {
  color: #6a64f1;
}
/* heading 2 End */

/* ---nav bar start--- */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header .header-1,
  .header-2 {
    padding: 10px;
  }
  .header-2 .navbar a,
  .active {
    font-size: 13px;
    padding: 10px 10px;
  }
}

@media (max-width: 450px) {
  .header-1 {
    flex-flow: column;
  }
  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }
}
/* ---nav bar end--- */

h2 {
  font-weight: 300;
  color: #000000;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("./../images/backgroundimage\(1\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 8px #a29cf081;
}

.intro h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 13%;
}

.intro p {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  font-size: 18px;
  background: #6a64f1;
  color: #fff;
}

button i {
  margin: 0 0 0 10px;
}

button:hover i {
  margin: 0 0 0 25px;
  transition: 0.3s;
}

button:not(:hover) i {
  transition: 0.3s;
}

button:active {
  transform: scale(0.9, 0.9);
  transition: 200ms;
}

button:not(:active) {
  transition: 200ms;
  box-shadow: 5px 5px 20px #a29cf076;
}

/* Features section */
.achievements {
  display: flex;
  margin-top: 1%;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  /* background-color: #a19cf0; */
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #6a64f1;
  border-radius: 50%;
  border: 2px solid #6a64f1;
  padding: 12px;
}

.achievements .work .h1 {
  font-size: 20px;
  font-weight: 700;
  color: #6a64f1;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work p {
  font-size: 15px;
  color: #000000;
  margin: 10px 0;
}
.sec-1 .grid::after {
  content: "";
  display: table;
  clear: both;
}
.sec-1 {
  margin: 100px;
  border-radius: 20px;
  padding: 1%;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 8px #a19cf0;
}
.sec-1 h2 {
  font-weight: 700;
  color: #6a64f1;
}

.sec-1 ol {
  margin: 1%;
}
.column-40 {
  float: left;
  padding: 0 0%;
  width: 40%;
}

.sec-1 ol > li {
  margin-bottom: 1.5rem;
  text-align: left;
  display: flex;
  font-size: 16px;
  flex-direction: column;
}
.sec-1 p {
  font-size: 16px;
}
.sec-1 h3::before {
  content: "";
  color: #ffffff;
  display: inline-block;
  margin-left: -2em;
  width: 2em;
}
@media screen and (max-width: 1000px) {
  .column-60,
  .column-40 {
    width: 100%;
    float: none;
    padding: 0;
  }
  #image-div img {
    margin: auto;
  }
}
/*  */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  margin: 100px;
  height: 500px;
  /* box-shadow: 0 1rem 1rem -1rem rgba(55, 56, 58, 0.4); */
  /* box-shadow: 0px 3px 8px #a19cf0; */
  border-radius: 10px;
  background-color: #ffffff;
  /* border-top: 2px solid #eeeeee; */
}

.about img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.about h2 {
  font-weight: 800;
  color: #6a64f1;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 20px;
  color: #585858;
}

/* Info section */
#info {
  margin: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 8px #a19cf0;
}
#info h2 {
  font-weight: 900;
  color: #6a64f1;
}
#info p {
  font-size: 15px;
}
#info div {
  /* padding-right: 5%; */
  padding: 40px;
  width: 1000px;
  height: 320px;
  align-self: flex-start;
  color: #6a64f1;
}

@media (max-width: 1000px) {
  #info {
    flex-direction: column;
    align-items: center;
  }

  #info div {
    width: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }

  #info h2 {
    text-align: center;
  }
}

#info iframe {
  max-width: 560px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem -1rem rgba(55, 56, 58, 0.4);
}

