@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 10px;
}
body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-size: 1.6rem;
  color: #37383a;
}
.nav-main {
  width: 100%;
  top: 0%;
  position: fixed;
  text-transform: uppercase;
  z-index: 9;
}
.nav-logo {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #2d34f5;
}
#header {
  display: inline-block;
  position: relative;
  background: #ffffff;
  width: 100%;
  height: 63px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
}
#header:after {
  content: "";
  clear: both;
  display: block;
}
.search {
  float: right;
  padding: 16px;
}
input {
  border: 1px solid #5d63ed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
  padding: 10px;
  border-radius: 10px;
}
.logo {
  float: left;
  padding: 6px 10px 5px;
  border-bottom-right-radius: 20px;
  border: 3px solid rgb(29, 28, 28);
  background-color: #5d63ed;
}

nav {
  float: right;
}
nav ul {
  float: left;
  position: relative;
}
nav li {
  list-style: none;
  float: left;
}
nav .dropdown {
  position: relative;
}
nav li a {
  font-size: 13px;
  float: left;

  padding: 24px 20px 20px;
  border-radius: 10px;
  transition: 0 01s;
}
nav li a:hover {
  color: #000000;
  text-decoration: underline;
}
nav li ul {
  display: none;
}
nav li:hover ul {
  display: inline;
  padding: 5px;
}
nav li li {
  float: none;
}
nav .dropdown ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: #ffffff;
  padding: 20px 0px 0px;
  border-bottom: 3px solid #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
}
nav .dropdown li {
  white-space: nowrap;
}
nav .dropdown li a {
  min-width: 200px;
}
nav .mega-dropdown {
  width: 135%;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #ffffff;
  overflow: hidden;
  padding: 10px 10px;
  border-radius: 3px;
  border: 2px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
}
nav li li a {
  float: none;
  color: #333;
  display: block;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 13px;
}
nav li li a:hover {
  text-decoration: underline 1px;
  color: #5d63ed;
}
.mega-col {
  width: 25%;
  float: left;
}

/* home */
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 8rem 0 2rem 0;
}

@media (max-width: 650px) {
  h1 {
    font-size: 2.4rem;
  }
}

h2 {
  margin-bottom: 5rem;
}

li {
  list-style: none;
}
iframe {
  border: 0;
  background-image: url(./../images);
}

/* Hero */

#hero {
  /*background-color: #4a4fbd;*/
  background: #5257f9 100%;
  color: #fff;
  height: 800px;
  margin: 5rem 0;
  padding: 10%;
}

#hero .btn {
  background-color: Transparent;
  border: 2px solid #1a1919;
  background-color: #5257f9;
  transition: 1s;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  padding: 1.7rem 2.5rem;
  margin-top: 30px;
  height: 5rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
}
.column-60 {
  float: left;
  width: 60%;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50px;
  padding: 0 5%;
  padding-bottom: 4%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
  border: 4px solid black;
}
.column-40 {
  float: left;
  padding: 0% 0%;
  width: 40%;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}
#hero .btn:hover {
  background-color: #dcddff;
  border: 1px solid black;
  color: #2f1e84;
  transition: color 1s;
  box-shadow: none;
}

@media (max-width: 1000px) {
  #hero {
    height: 750px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
    height: 900px;
  }
}

@media (max-width: 650px) {
  #hero-img {
    margin: 2rem auto !important;
  }
}

@media (max-width: 1000px) {
  .column-60,
  .column-40 {
    width: 100%;
    float: none;
    padding: 0;
  }
  #image-div img {
    margin: auto;
    width: 1000px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 1.5rem;
  padding: 3rem 2rem 3rem 2rem;
  border: 1px solid rgba(55, 56, 58, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin: 1.5rem auto;
  }
}

.card:hover {
  box-shadow: 0 0 2rem -0.7rem rgba(55, 56, 58, 0.2);
  border: 1px solid #ced4ee;
}

@media (max-width: 650px) {
  .logo {
    margin: 15px auto;
  }
}
/*  section */

#why {
  padding: 15rem 5rem 5rem 5rem;
  text-align: center;
}

.desc h3 {
  margin: 2rem 0 2rem 0;
}

/* Features section */

#features {
  background-color: #ffffff;
  padding: 15rem 5rem 5rem 5rem;
  text-align: center;
}

#features ol {
  margin: 6.5rem 3.5rem;
}

#features ol li {
  margin-bottom: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#features h3::before {
  content: "";
  color: #5257f9;
  display: inline-block;
  margin-left: -2em;
  width: 2em;
}

/* Info section */
#info {
  margin: 5rem 0;
  padding: 8rem 6.5rem;
  background-color: #5257f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info div {
  width: 80%;
  padding-right: 5rem;
  align-self: flex-start;
  color: #fff;
}
#info iframe {
  max-width: 560px;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px inset;
  border: 5px black;
}
@media (max-width: 1000px) {
  #info {
    flex-direction: column;
    align-items: center;
  }

  #info div {
    width: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }

  #info h2 {
    text-align: center;
  }
}

/* Footer */

footer {
  padding: 2.5rem 5rem;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-img {
  width: 250px;
  max-width: 300px;
  padding: 10px 10px 10px;
  border-radius: 10px;
}

@media (max-width: 660px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

#footer-logo {
  margin-top: 0.8rem;
  display: flex;
  justify-content: flex-start;
}

#footer-info ul {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 660px) {
  #footer-info ul {
    margin: 15px auto;
  }
}

@media (max-width: 460px) {
  #footer-info ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #footer-info ul li {
    padding-bottom: 10px;
  }
}

#footer-info ul li {
  padding: 0 10px;
}

#footer-info ul li a {
  color: #fff;
}

#copyright {
  margin-top: 1.5rem;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}
