@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family:  sans-serif;
    background-color: #F1F6F5;
    
}



.menu  {
  
    background-color: #4B56D2;
    height: 70px;
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 4%; */
    padding-top: 20px;
    padding-left: 0px;
    box-shadow: 0px 1px 5px #645e76;
    padding-bottom: 10px;
}
.menu .img-1 {
    display: flex;
    padding-bottom: 0px;
    padding: 0px 0px 0px;
    margin-top: 0px;
  }


.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0px 0px 0px;
    
    
}

.menu ul li {
    padding: 10px 10px;
    position: relative;
}

.menu ul li a {
    color: #F1F6F5;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s;
    padding: 10px 10px 10px;
   

}

.menu ul li a:hover {
    /* background-color: rgba(135, 250, 223, 0.703); */

    padding: 10px 10px 10px;
    color: #2c2c2c;
}
.dropdown {
    display: none;
    color: rgb(78, 78, 78);
   
}

.fa-angle-down {
  font-size: 13px;
}

.menu ul li:hover .dropdown {
    display: block;
    position: absolute;
    top: 100%;
    width: 250px;
    /* padding: 1px 0px 5px; */
    /* margin: 0px 0px 0px; */
    /* border-style: double; */
    background-color: #4B56D2;
    border-radius: 1px;
    box-shadow: 1px 2px 4px 0px #56555a;
}
.dropdown ul {
    display: block;
    margin-left: -10px;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.dropdown ul li a{
    width: 100px;
}

/*_____________________footer___________________________________________*/


.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }

.footer {
    margin-top: 0px;
    background-color: #4B56D2;
    padding: 5px 0px 40px;
  }
  
  .footer-colm {
    width: 20%;
    padding: 0px 20px 0px;
  }
  
  .footer-colm h4 {
    font-size: 18px;
    color: #F1F6F5;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    padding-top: 40px;
  }
  
  .footer-colm h4::before {
    content: "";
    position: absolute;
    left: 0; 
    bottom: -10px;
    background-color: #F1F6F5;
    height: 2px;
    width: 40px;
  }
  
  .footer-colm ul li a {
    margin-bottom: 15px;
  }
  
  .footer-colm ul li a {
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #F1F6F5;
    display: block;
    transition: 0.3s;
    width: 100px;
  }
  
  .footer-colm ul li a:hover {
    color: #000000;
    padding-left: 5px;
  }
  
  .footer-colm .social-links a {
    display: inline-block;
    height: 40px;
    font-size:x-large;
    width: 40px;
    margin: 0px 5px 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: 0.2s;
    background-color: #000000;
  }
  
  .footer-colm .social-links a:hover {
    color: #39eeca;
    background-color: #a9aaaf;
    box-shadow: 0.5px 0.5px 5px #343336;
  }
  
