@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body{
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 background-image: url(./../images/imgProfile.png);
}


.img-1 {
  display: flex;
  height: 45px;
  padding: 27px;
  padding-left: 50px;
  
}
h1  {
  padding: 30px;
  margin-left: -30px;
  margin-top: -25px;
  color: #191919;
  font-size: 30px;
}
h1 span   {
  color: #000000;
}
.card {
  background-color: #ffffff64;
  width: 390px;
  /* border: 1px solid rgb(255, 255, 255); */
  box-shadow: 1px 1px 5px black;
  overflow: hidden;
  margin: 20px;
  border-radius: 5px;
  
} 
.card-body {
  padding: 26px;
} 
.form-group {
  padding-right: 25px;
  margin-bottom: 10px;
} 
.form-group label {
  display: block;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  margin-bottom: 2px;
} 
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"] {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  background-color: #00000042;
  color: #ffffff;
}
button {
  margin: 3px;
  padding: 10px 30px 10px;
  margin-left: 0px 10px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  transition: all 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 8px #424242;
}
.text p {
  text-decoration: none;
  color: #d1c2ff;
  font-size: 15px;
  font-weight: 500;
  /* margin-left: 0px; */
}
.text p {
  color: #000000;
  width: 100%;
  text-align: center;
}
.text a {
   color: rgb(92, 190, 255);
}
.text p a {
   text-decoration: underline;
}

.text p a:hover {
  color: rgba(92, 190, 255, 0.63);
  transition: all .5s;
}


